.SkillsSection{
    // margin: 4.5rem 0;
}
.skills-container{
    .skill-title{
        font-size: 1.4rem;
        font-weight: 400;

    }
    .skill-bar{
        display: flex;
        align-items: center;
        .skill-text{
        }
        .skill-progress{
            width: 100%;
            // position: relative;
            &::before{
                width: 4rem;
                height: .4rem;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: red;
            }
        }
    }
    
}